{% extends "::base.html.twig" %}

{% block header %}
  <h1><a href="{{ path('portada') }}">Sistema de Gestion de Prestamos</a></h1>

  <nav>
  <ul>
    <li><a href="{{ path('persona') }}">Personas</a></li>
    <li><a href="{{ path('prestamo') }}">Prestamos</a></li>
  </ul>
  </nav>
{% endblock %}
{% block body %}
  
{% endblock %}
