{% extends "PrestamoBundle::layout.html.twig" %}
{%  block body %}
<form action="{{ path('prestamo_new') }}" method="post" {{ form_enctype(formulario) }}>
    {{ form_widget(formulario) }}

    <input type="submit" value="Guardar" />
</form>
{% endblock %}